<script>
  var buttonName = '';
function setval(buttonID)
{
	buttonName= buttonID;
  document.getElementById("purchaseID").value=buttonID;
  alert(document.getElementById("purchaseID").value);
}
</script>
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center main">
      <div>            
      <!--form to test crypto api-->
        <div>
          <h1 class="mt-5">Crypto Finder</h1>
          <h2 name=""></h2>
          <p class="lead">Enter the name of the crypto and press Go!</p>
        </div>
        <form action="/" method="POST">
          <input name="crypto" type="text" id="txtAutoComlete" list="CryptoIdList">
            <datalist id="CryptoIdList">
              {{#each ids}}
                <option value="{{this.id}}"/>
              {{/each}}
            </datalist>
          <button>Go!</button>
        </form>
        <div class="mt-3">
        <!--two pairs of curly braces allows us to access property from post request-->
        <img src="{{logo}}" style="width:75px;">
        {{cryptoInfo}}
        {{error}}
        </div>
        <form action = "/purchase/purchase" method = "POST">
        <input type="hidden" name = "purchaseID" id = "purchaseID" value="">
        <div class="row row-cols-3 justify-content-center">
          {{#each cryptos}}
            <div class="card bg-light col-3 m-2" style = "height:auto">
              <img class="card-img-top m-auto pt-3" src="{{this.logo_url}}" alt="{{this.name}} Logo Image" style="height:50px; width:70px;">
              <div class ="card-body mx-auto">
                <h5>{{this.name}} : {{this.id}}</h5>
                <p>${{this.price}}</p>
                <input type = "submit" value="Purchase" class = "btn btn-primary" name = {{this.id}} onclick="javascript:setval(this.name)">
              </div>
            </div>
          {{/each}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

