<script>
    function calcDollars(){
    var dollars=document.getElementById("coin").value;
    dollars=dollars*{{price}};
    document.getElementById("cost").value=dollars;
    alert(dollars);
    }
</script>
<h2>Purchase Page</h2>
{{> messages}}
<body>
    <form action="/purchase/account" method="POST">
        <p>Choose how many {{name}} ({{purchaseID}}) for the price of ${{price}} you want to purchase</p>
        <input type="number" id="coin" name="quantity">
        <button name="calculate" onclick="calcDollars()">Calculate</button>
        <input id="cost" type="text" value="Frank" oninput="calcDollars()" readonly>

        <!-- pass hidden values when you submit to account page -->
        <input type="hidden" name = "name" id = "name" value="{{name}}">
        <input type="hidden" name = "purchaseID" id = "purchaseID" value="{{purchaseID}}">
        <input type="hidden" name = "price" id = "price" value="{{price}}">

        <button>Purchase!</button>
    </form>
</body>